a {
    text-decoration: none;
    color: inherit;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.wrapper main {
    flex: 1 1 auto;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}